* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}
.task1{
  position: absolute;
  top: 10px;
  left: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Base class for common properties */

.petel{
    width: 120px;
    height: 300px;
    border-radius: 95% 0 95% 0;
    opacity: 0.70;
    position: relative;
}
/* Unique styles for each petal */

.petal1 {
  background:#fc4c59;
  border-radius: 95% 0 95% 0;
  transform: rotate(70deg);
}
.petal2 {
left: -110px;
  background: linear-gradient(to top , rgba(0, 0, 255, 0.7), rgba(220,150,240,255)  );
  transform: rotate(-11deg);
}
.petal3 {
    left: -240px;
  background: #fdc656;
  transform: rotate(30deg);
  opacity: 0.70;
}


.petal4 {
    left: -350px;
  background: linear-gradient(to bottom right, #3b82f6, #5338c6  , #8d3775, #a25471  );;
  opacity: 0.70;
  transform: rotate(-60deg)
}